.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    background-color: white;
    width: 60%;
    border-radius: 16px;
    overflow: hidden;

}
.container form h1{
    color: black;
    margin-top: 20px;
}

.container form textarea{
    height: 30%;
    width: 90%;
    margin-bottom: 30px;
    margin-top: 20px;
    resize: none;
}

.btnDiv{
    background-color: black;
    width: 100%;
    height: 30%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.btnDiv button{
padding: 10px 20px;
height: 50px;
border-radius: 16px;
border: none;
}
.btnDiv button:hover{
    background-color: brown;
    color: white;
}

.content{
    margin-top: 10px;
}